.health-benefits {
  background: linear-gradient(45deg, #fffb757e 10%, #9bffa090 91%);
  position: relative;
}

.health-benefits::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(45deg, #fffb757e 80%, #9bffa090 91%); */
  z-index: -1;
}

.health-benefits .section-title {
  color: #1f2937;
}
